@using MusicStore.Models
@model IEnumerable<Order>
<table>


@foreach(var order in Model)
{
	<tr>
		<td>@order.Id</td>
		<td>@order.Name</td>
		<td>
				@foreach(var item in order.Lines)
				{
					@item.Album.Name
				}
			</td>
		<td>
			<form asp-action="MarkShipped" method="post">
				<input type="hidden" name="orderId" value="@order.Id"/>
				<input type="submit" value="Zrealizowane"/>
			</form>
		</td>
	</tr>
}
</table>