@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Płatność została anulowana.</h2>
<p>Płatność nie została zrealizowana. Spróbuj ponownie.</p>
